
.nav-wrapper {
    background-image: url("../images/banner3_edit2.jpeg");
    background-size: cover;
    background-position: bottom;
    
    min-height: 25vh;
    
}

img {
    box-sizing: content-box;
    
    max-height: 20vh;
    width: auto;
    
    margin-left: 2vw;
    
    border-radius: 15px;
    border: 2px solid #D32323;
}

.card {
    border-radius: 20px;
}

#giftIdea {
    max-width: 80%;
}

#partnerGiftIdeas .chip:hover {
    cursor: pointer;
    
    
}